<footer class="footer">
<div class="footer">
		<a href="https://www.linkedin.com/in/yurifalcao/" class="fa fa-linkedin"></a>
		<a href="#"></a>
		
		<p><a href=""> Inventory Manager by Yuri Falcao</a></p>
	</div>
</footer>